.header__nav{
	background: #C1C6F6;
}
.container{
}
.container .top__bar{
	padding-top: 1%;
}
.menu__bar .row .logo a{
	text-decoration: none;
}
.menu__bar .row .logo a i{
	font-size: 30px;
	color: #E8854D;
}
.menu__bar .logo a span.logo{
	margin-left: 8%;
    font-weight: bold;
    font-size: 20px;
    color: black;
}
.menu__bar .product a.product{
	text-decoration: none;
	color: black;
}
.menu__bar .product{
	padding-top: 0.5%;
	height: 35px;
}
.menu__bar .product:hover{
	background: #b5bdb7;
    border-radius: 10px;
    text-align: center;
}
form.search .search input{
	width: 100%;
	border-radius: 5px;
	border: none;
	padding-left: 7%;
}
.menu__bar .row .col-3 .list_function{
	list-style-type: none;
	width: 100%;
}
.menu__bar .row .col-3 .list_function ul{
	width: 100%;
}
.menu__bar .row .col-3 .list_function ul li{
	float: left;
    width: 17%;
    height: 150%;
    margin-right: 3%;
}
.menu__bar .row .col-3 .list_function ul li button.profile{
	width: 100%;
	height: 100%;
	background-image: url('https://scontent.fdad2-1.fna.fbcdn.net/v/t1.6435-1/81287449_703067596883940_7523294539373608960_n.jpg?stp=c0.0.200.200a_dst-jpg_p200x200&_nc_cat=101&ccb=1-5&_nc_sid=7206a8&_nc_ohc=1pr0uyPTYp8AX9PSzey&_nc_ht=scontent.fdad2-1.fna&oh=00_AT_cNIbR3C-nebMaTRIGvkUISCseWrUvhg7EG5G8829NPg&oe=6250D099');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border: none;
	border-radius: 3px;
}
.menu__bar .row .col-3 .list_function ul li button{
	width: 100%;
	height: 100%;
	border-radius: 3px;
	border: none;
}
.menu__bar .row .col-3 .list_function ul li button:hover{
	transform: scale(1.1);
}
.body__nav{
	background: #fff;
}
.body__nav .container .menu{
	float: left;
	padding-top: 2%;
	height: 100%;
	font-size: 14px;
}
.body__nav .container .menu ul.home{
	list-style-type: none;
}
.body__nav .container .menu ul.home li a{
	width: 100%;
	height: 30px;
	padding-top: 10%;
	padding-bottom: 1%;
	color: black;
	text-decoration: none;
}
.body__nav .container .menu ul.tags li.users a{
	font-weight: bold;
}
.body__nav .container .menu ul.home li{
	padding-bottom: 2%;
}
.body__nav .container .menu ul.nav_link{
	list-style-type: none;
	color: black;
}
.body__nav .container .menu ul.nav_link a{
	color: black;
}
.body__nav .container .menu ul.nav_link a i{
	border-radius: 3px;
}
.body__nav .container .menu ul.nav_link li{
	padding-left: 30%;
}
.body__nav .container .questions{
	float: left;
	border-left: 1px solid gray;
}
.body__nav .container .questions .questions2{
	float: left;
	width: 100%;
	margin-bottom: 5%;
}
.body__nav .container .questions div h3{
	float: left;
	padding-top: 4%;
	width: 70%;
}
.body__nav .container .questions div button{
	float: right;
	margin-top: 4%;
	border: none;
	border-radius: 5px;
	background: #638ee6;
	color: #fff;
}
.body__nav .container .questions div table.table a{
	text-decoration: none;
	color: gray;
}
.body__nav .container .questions div table.table span{
	background: blue;
	color: white;
	border-radius: 3px;
}
.body__nav .container .questions div table.table{
    font-size: 11px;
    margin-bottom: 1%;
    border: none;
}
.body__nav .container .questions div table.year{
    font-size: 11px;
    margin-bottom: 1%;
    border: none;
    clear: both;
}
.body__nav .container .questions div table.table tbody tr td .dropdown a{
	background: no-repeat;
	font-size: 10px;
	border: none;
}
.body__nav .container .questions div button:hover{
	transform: scale(1.1);
}
.body__nav .container .questions .content{
	width: 102.5%;
	margin-left: -2.3%;
	border-top: 1px solid gray;
}
.body__nav .container .questions .content ul{
	float: left;
	list-style-type: none;
	width: 20%;
}
.body__nav .container .questions .content ul.content2{
	float: left;
	list-style-type: none;
	width: 80%;
}
.body__nav .container .questions .content ul.content2 li a{
	float: left;
	border-radius: 5px;
	font-size: 14px;
}
.body__nav .container .questions .content ul li{
	float: right;
}
.body__nav .container .blog{
	float: left;
	margin-top: 2%;
    border-radius: 5px;
    border: 0.5px solid gray;
    font-size: 14px;
}
.body__nav .container .blog div{
	width: 112.2%;
    margin-left: -6%;
    height: 100%;

}
.body__nav .container .blog div h5{
	font-size: 15px;
    background: #44DB9C;
    float: left;
    margin-left: -0.5%;
    padding-left: 7%;
    width: 101.1%;
    border: 0.2px solid gray;
}
.body__nav .container .questions .list-user{
	clear: both;
    width: 100%;
    float: left;
}
.body__nav .container .questions .list-user .user-item{
	width: 30%;
	float: left;
	font-size: 13px;
}
.body__nav .container .questions .list-user .user-item .user-img img{
	width: 70px;
	height: 70px;
	float: left;
}
.body__nav .container .questions .list-user .user-item .user-detail{
	padding-left: 3%;
	float: left;
	margin: 0;
}
.body__nav .container .questions .list-user .user-item .user-detail a{
	font-size: 20px;
}
.body__nav .container .questions .list-user .user-item .user-tag{
	clear: both;
	padding-left: 30%;
}
.footer__nav{
	background: #0F1878;
	color: #fff;
	float: left;
}
.footer__nav .row{
	padding-top: 2%;
	padding-bottom: 2%;
}
.footer__nav .container .row .logo a{
	text-decoration: none;

}
.footer__nav .container .row .logo a i{
	font-size: 30px;
	color: #E8854D;
}
.footer__nav .container .row .site-footer{
	padding-top: 9%;
}
.footer__nav .container .row .site-footer a{
	text-decoration: none;
}
.footer__nav .container .row .site-footer ul{
	list-style-type: none;
	text-decoration: none;
	padding-left: 25%;
	color: gray;
	margin: 0;
	font-size: 10px;
}
.footer__nav .container .row .site-footer ul li{
	width: 140px;
}
.footer__nav .container .row .site-footer ul li a{
	color:#979c98 ;
}
.footer__nav .container .row .site-footer ul li a h5{
	font-size: 10px;
	color: #fff;
}
.footer__nav .container .row .site-footer p{
	font-size: 10px;
    width: 140px;
    float: left;
    margin-top: 60px;
    color: #979c98;
}
.body__nav .container .menu ul.tags li.users{
	background: #e4e7ed ;
	width: 113.5%;
	border-right: 2px solid red;
}
.body__nav .container .questions .navbar{
	float: left;
    padding: 0;
}